@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

body {
    overflow: hidden;
}

.formContainer {
    // background-color: #a7bcff;
    background-color: #1f1f47;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper {
        // background-color: white;
        background-color: rgba(255, 255, 255, .15);
        box-shadow: 0 8px 32px rgba(31, 38, 135, .37);
        border: 1px solid rgba(255, 255, 255, .18);
        position: relative;

        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo {
            // color: #5d5b8d;
            color: #fff;
            font-weight: bold;
            font-size: 30px;
        }

        .title {
            // color: #5d5b8d;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .addAvatar {
                display: none;
            }

            .errorMessage {
                color: red;
                font-size: 10px;
                max-width: 38vh;
            }
        }

        input {
            padding: 15px;
            border: none;
            width: 250px;
            // border-bottom: 1px solid #a7bcff;
            border-bottom: 2px solid #fff;
            background: transparent;
            color: #fff;

            outline: none;
            &::placeholder {
                // color: rgb(175, 175, 175);
                color: #fff;
            }
        }

        label {
            display: flex;
            align-items: center;
            gap: 10px;
            // color: #8da4f1;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
            // img {
            //     height: 40px;
            // }
            .avatarbox {
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #C0C0C0;
                border-radius: 8%;
                .avatar {
                    font-size: 24px;
                    margin-top: 4px;
                }
                &.hide {
                    border: 1px solid transparent;
                }
            }
            .checkavatar {
                font-size: 14px;
            }
        }

        button {
            background-color: #7b96ec;
            // color: white;
            color: #fff;
            padding: 10px;
            font-weight: bold;
            border: none;
            cursor: pointer;
            border-radius: 2px;
            position: relative;
            i {
                position: absolute;
                top: 34%;
                right: 34%;
            }
        }

        p {
            // color: #5d5b8d;
            color: #fff;
            font-size: 12px;
            margin-top: 10px;
            a {
                color: #fff;
            }
        }

        .previewAvatar {
            height: 40px;
            width: 40px;
            object-fit: cover;
            border-radius: 8%;
        }
    }
    
    .blob {
        position: absolute;
        width: 500px;
        height: 500px;
        background: linear-gradient(180deg, rgba(47, 184, 255, .42) 31.77%, #5c9df1 100%);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
        transform: translate(-300px, -50px) rotate(-90deg);
        transition: 1s cubic-bezier(.07, .8, .16, 1);
        animation: animateBlob 45s infinite alternate;

        // &:hover {
            width: 520px;
            height: 520px;
            filter: blur(30px);
            box-shadow: 
                inset 0 0 0 5px rgba(255, 255, 255, .6),
                inset 100px 100px 0 0 #fa709a,
                inset 200px 200px 0 0 #784ba8,
                inset 300px 300px 0 0 #2b86c5;
        // }
    }
    @keyframes animateBlob {
        25% {
            transform: translate(300px, 50px) rotate(0deg);
            border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
        }
        50% {
            transform: translate(-300px, 50px) rotate(90deg);
            border-radius: 56% 44% 46% 54% / 21% 54% 46% 79%;
        }
        75% {
            transform: translate(300px, -50px) rotate(180deg);
            border-radius: 74% 26% 39% 61% / 74% 6% 94% 26%;
        }
        100% {
            transform: translate(-300px, -50px) rotate(270deg);
            border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
        }
    }
}

.home {
    // background-color: #a7bcff;
    // background: url(https://firebasestorage.googleapis.com/v0/b/vanchat-d84f4.appspot.com/o/13223496_5183000.jpg?alt=media&token=94e878ab-4400-4468-80c5-a50fae2ecd38) no-repeat;
    background-color: #1f1f47;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // animation: animateBg 5s linear infinite;

    // @keyframes animateBg {
    //     100% {
    //         filter: hue-rotate(360deg);
    //     }
    // }

    .container {
        // border: 1px solid white;
        border-radius: 6px;
        box-shadow: 0 8px 32px rgba(67, 75, 180, 0.37);
        border: 1px solid rgba(255, 255, 255, .18);
        width: 65%;
        height: 86%;
        display: flex;
        overflow: hidden;
        @include tablet {
            width: 90%;
        }

        .sidebar {
            flex: 1;
            // background-color: #3e3c61;
            background-color: #E6E6E6;
            border-right: 1px solid #E7E7E7;
            overflow: hidden;

            @include tablet {
                position: relative;
            }

            .navbar {
                display: flex;
                align-items: center;
                // background-color: #2f2d52;
                background-color: #F7F7F7;
                height: 50px;
                padding: 10px 8px;
                justify-content: space-between;
                // color: #ddddf7;
                border-bottom: 1px solid #E7E7E7;

                .logoandlogout {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    // gap: 6px;
                    .logo {
                        font-weight: bold;
                        font-size: 22px;
                        @include tablet {
                            display: none;
                        }
                    }
                    button {
                        // background-color: #5d5b8d;
                        background-color: #E9E9E9;
                        // color: #ddddf7;
                        color: #161616;
                        padding: 0px 6px;
                        font-size: 12px;
                        border-radius: 3px;
                        border: none;
                        cursor: pointer;

                        @include tablet {
                            position: absolute;
                            bottom: 8px;
                            left: 6px;
                        }
                    }
                }

                .user {
                    display: flex;
                    gap: 6px;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    img {
                        background-color: #ddddf7;
                        height: 40px;
                        width: 40px;
                        border-radius: 8%;
                        object-fit: cover;
                    }

                    .usernameemail {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 0px 4px;
                        max-width: 138px;
                        overflow: auto;

                        .username {
                            font-size: 16px;
                            font-weight: bold;
                            word-break: keep-all;
                        }
                        .email {
                            font-size: 12px;
                            word-break: keep-all;
                        }
                    }

                    .changeAvatar {
                        display: none;
                    }
                    label {
                        margin-right: 6px;
                        .loader {
                            font-size: 12px;
                        }
                    }

                    span {
                        font-size: 18px;
                        // font-weight: bold;
                    }
                    input {
                        width: 80px;
                        background-color: #E2E2E2;
                        border: none;
                        outline: none;
                        border-radius: 3px;
                        font-size: 16px;
                        &::placeholder {
                            color: #7F7F7F;
                        }
                    }
                    i {
                        color: #7F7F7F;
                        font-size: 14px;
                        cursor: pointer;
                        &:hover {
                            color: #aaaaaa;
                        }
                    }
                    .errmessage {
                        font-size: 12px;
                        color: red;
                    }
                }
            }

            .search {
                // border-bottom: 1px solid gray;
                border-bottom: 2px solid #F7F7F7;

                .searchForm {
                    padding: 10px;
                    background-color: #F7F7F7;

                    .usericon {
                        font-size: 20px;
                        color: #7F7F7F;
                        padding-right: 4px;
                        margin-bottom: -4px;
                    }

                    input {
                        // background-color: #312f56;
                        background-color: #E2E2E2;
                        width: 70%;
                        border: none;
                        // color: white;
                        outline: none;
                        padding: 4px 4px;
                        border-radius: 4px;

                        &::placeholder {
                            // color: lightgray;
                            color: #818181;
                        }
                    }
                    .closeicon {
                        font-size: 14px;
                        // color: lightgray;
                        color: #818181;
                        font-weight: bold;
                        cursor: pointer;
                        margin-left: -16px;
                        &:hover {
                            // color: gray;
                            color: #a09b9b;
                        }
                    }
                    .fixbuffer {
                        padding-left: 7px;
                    }
                    .momentsicon {
                        font-size: 18px;
                        // color: #818181;
                        color: #7F7F7F;
                        margin-left: 10px;
                        cursor: pointer;
                        &:hover {
                            color: #a09b9b;
                        }
                    }
                }

                .errorMessage {
                    color: red;
                    font-size: 10px;
                    padding-left: 10px;
                }

                .searchres {
                    max-height: 140px;
                    overflow-y: auto;

                    .userChat {
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        // color: white;
                        // cursor: pointer;
                        position: relative;
        
                        &.oldfriend {
                            cursor: pointer;
                        }
    
                        &:hover {
                            // background-color: #2f2d52;
                            background-color: #DAD9D9;
                        }
        
                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 8%;
                            object-fit: cover;
                        }
        
                        .userChatInfo {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            max-width: 56%;
                            overflow: auto;
                            span {
                                font-size: 18px;
                                font-weight: bold;
                                word-break: keep-all;
                            }
                            .useremail {
                                font-weight: normal;
                                font-size: 14px;
                                word-break: keep-all;
                            }
                        }
                        .addfriend {
                            font-size: 18px;
                            position: absolute;
                            cursor: pointer;
                            top: 25px;
                            right: 20px;
                            color: #7f7f7f;
                            &:hover {
                                color: #ababab;
                            }
                        }
                        .addnotes {
                            font-size: 20px;
                            position: absolute;
                            cursor: pointer;
                            top: 24px;
                            right: 60px;
                            color: #7f7f7f;
                            &:hover {
                                color: #ababab;
                            }
                        }
                        .noteinfo {
                            width: 66%;
                            height: 56%;
                            top:  7px;
                            left: 6px;
                            border-radius: 4px;
                            z-index: 3;
                            display: none;
                            position: absolute;
                            &.show {
                                display: block;
                            }

                            textarea {
                                outline: none;
                                resize: none;
                                border: 1px solid #07C160;
                                border-radius: 4px;
                                padding: 8px 10px;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }

            .newfriendsApplication {
                // border-bottom: 1px solid gray;
                border-bottom: 2px solid #F7F7F7;

                .newfriendstext {
                    padding-top: 6px;
                    padding-left: 10px;
                    padding-bottom: 4px;
                    font-size: 14px;
                    // color: lightgray;
                    color: #818181;
                    background-color: #F7F7F7;
                }

                .newfriendlist {
                    max-height: 150px;
                    overflow-y: auto;

                    .userChat {
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        color: white;
                        // cursor: pointer;
                        position: relative;
        
                        &:hover {
                            // background-color: #2f2d52;
                            background-color: #DAD9D9;
                        }
        
                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 8%;
                            object-fit: cover;
                        }
        
                        .userChatInfo {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            max-width: 52%;
                            overflow: auto;
                            color: black;
                            .username {
                                font-size: 16px;
                                font-weight: bold;
                                word-break: keep-all;
                            }
                            .useremail {
                                font-weight: normal;
                                font-size: 14px;
                                word-break: keep-all;
                            }
                        }
                        .noteicon {
                            font-size: 22px;
                            position: absolute;
                            cursor: pointer;
                            top: 25px;
                            right: 70px;
                            color: #7f7f7f;
                            &:hover {
                                color: #ababab;
                            }
                        }
                        .refuseicon {
                            color: #7F7F7F;
                            position: absolute;
                            cursor: pointer;
                            top: 25px;
                            right: 10px;
                            font-size: 22px;
                            &:hover {
                                color: red;
                            }
                        }
                        .accepticon {
                            color: #7F7F7F;
                            position: absolute;
                            cursor: pointer;
                            top: 25px;
                            right: 40px;
                            font-size: 22px;
                            &:hover {
                                color: green;
                            }
                        }

                        .noteinfo {
                            width: 66%;
                            height: 82%;
                            border: 1px solid #07C160;
                            overflow-y: auto;
                            background-color: #ffffff;
                            top:  7px;
                            left: 8px;
                            border-radius: 4px;
                            z-index: 3;
                            // display: none;
                            visibility: hidden;
                            position: absolute;
                            &.show {
                                // display: block;
                                visibility: visible;
                            }

                            .notebox {
                                padding: 4px 10px;
                                span {
                                    font-size: 14px;
                                    color: black;
                                }
                                .defaultwords {
                                    color: #818181;
                                }
                            }
                        }
                    }
                }
            }

            .chats {
                // height: calc(100% - 70px - 40px);
                overflow-y: auto;
                // width: calc(100%);
                // padding-right: 20px;

                // &:hover {
                //     padding-right: 0px;   
                // }

                .userChat {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    // color: white;
                    cursor: pointer;
                    position: relative;
    
                    &:hover {
                        // background-color: #2f2d52;
                        background-color: #DAD9D9;
                    }
    
                    &.userselect {
                        // background-color: #292747;
                        background-color: #C6C6C6;
                    }

                    .userphoto {
                        width: 50px;
                        height: 50px;
                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 8%;
                            object-fit: cover;
                        }

                        .mreddot {
                            position: absolute;
                            top: -7px;
                            right: -7px;
                            width: 16px;
                            height: 16px;
                            background-color: #FA5151;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .unreadmessage {
                                // font-size: xx-small;
                                font-size: x-small;
                                color: #FDFFFF;
                            }
                        }
                    }
    
                    .userChatInfo {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        max-width: 75%;

                        .userandtime {
                            max-width: 210px;
                            overflow: auto;
                            .username {
                                font-size: 16px;
                                font-weight: 410;
                                word-break: keep-all;
                            }
                            .lastmtime {
                                position: absolute;
                                font-size: 14px;
                                // color: lightgray;
                                color: #999999;
                                right: 10px;
                                top: 10px;
                            }
                        }
                        p {
                            font-size: 14px;
                            color: lightgray;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            color: #999999;
                        }
                    }
                }
            }
        }

        .chat {
            flex: 2;
            overflow: hidden;

            .chatInfo {
                height: 50px;
                // background-color: #5d5b8d;
                background-color: #F5F5F5;
                border-bottom: 1px solid #E7E7E7;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                // color: lightgray;
                position: relative;

                span {
                    margin-left: 10px;
                }

                .chatIcons {
                    display: flex;
                    gap: 10px;
                    margin-right: 10px;
    
                    // img {
                    //     height: 24px;
                    //     cursor: pointer;
                    // }
                    i {
                        font-size: 20px;
                        cursor: pointer;
                        color: #525252;
                        &:hover {
                            color: #858585;
                        }
                    }
                }

                .userprofile {
                    position: absolute;
                    top:  48px;
                    left: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid rgba(255, 255, 255, .18);
                    border-radius: 4px;
                    z-index: 3;
                    display: none;

                    &.onshow {
                        display: flex;
                    }
                    
                    .basicinfo {
                        display: flex;
                        img {
                            height: 40px;
                            width: 40px;
                            border-radius: 8%;
                            object-fit: cover;
                        }
                        .usernameandemail {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .username {
                                font-size: 16px;
                            }
                            .email {
                                font-size: 14px;
                            }
                        }
                    }
                    .alias {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // gap: 10px;
                        padding: 10px 0px;
                        border-top: 1px solid #F3F3F3;
                        border-bottom: 1px solid #F3F3F3;
                        span {
                            font-size: 14px;
                        }
                        input {
                            border-radius: 4px;
                            border: none;
                            outline: none;
                            background-color: #E2E2E2;
                            width: 40%;
                            margin-left: 10px;
                        }
                        i {
                            color: #7F7F7F;
                            font-size: 16px;
                            padding-left: 10px;
                            cursor: pointer;
                            &:hover {
                                color: #a3a3a3;
                            }
                        }
                        .editpen {
                            display: none;
                            &.show {
                                display: block;
                            }
                        }
                        .noalias {
                            color: #818181;
                        }
                    }
                }
            }

            .vanchatlogo {
                height: calc(100% - 70px);
                // background-color: #ddddf7;
                background-color: #F5F5F5;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 100px;
                    margin-left: -14px;
                    margin-top: -35px;
                }

                .logotext {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 35px;
                    gap: 1px;
                    i {
                        font-size: 24px;
                        color: gray;
                    }
                }
            }

            .messages {
                // background-color: #ddddf7;
                background-color: #F5F5F5;
                border-bottom: 1px solid #E7E7E7;
                padding: 10px 8px;
                overflow-y: auto;
                height: calc(100% - 140px - 21px - 41px);
                width: calc(100% - 16px);
                padding-right: 50px;

                &:hover {
                    padding-right: 8px;   
                }

                // &::-webkit-scrollbar {
                //     display: none;
                // }
                // -ms-overflow-style: none;
                // scrollbar-width: none;

                .messagetime {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        font-size: 12px;
                        padding: 2px 3px;
                        border-radius: 4px;
                        // background-color: #d0d0e9;
                        background-color: #DADADA;
                        color: #F9FFF9;
                        margin-bottom: 16px;
                    }
                }
                .message {
                    display: flex;
                    gap: 16px;
                    margin-bottom: 20px;

                    .messageInfo {
                        // display: flex;
                        // flex-direction: column;
                        // color: gray;
                        // font-weight: 300;
                        margin-left: 16px;
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 8%;
                            object-fit: cover;
                        }
                    }

                    .messageContent {
                        // margin-top: 12px;
                        max-width: 60%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p {
                            background-color: white;
                            padding: 10px 14px;
                            // border-radius: 0px 10px 10px 10px;
                            border-radius: 6px;
                            max-width: max-content;
                            word-break: break-word;
                            white-space: pre-wrap;
                            position: relative;
                        }
                        p::before {
                            content: '';
                            position: absolute;
                            border: 9px solid;
                            border-color: transparent white transparent transparent;
                            left: -16px;
                            top: 12px;
                        }

                        img {
                            width: 50%;
                            border-radius: 6px;
                            cursor: pointer;
                        }

                        video {
                            width: 50%;
                            border-radius: 4px;
                            cursor: pointer;
                        }

                        audio::-webkit-media-controls-play-button,
                        audio::-webkit-media-controls-panel {
                            background-color: #ffffff;
                            color: #000;
                        }
                        .audiofile {
                            width: 300px;
                            padding: 8px 10px 0px 10px;
                            background-color: #ffffff;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            // gap: 4px;
                            border-radius: 6px;
                            position: relative;
                            span {
                                word-break: break-all;
                                font-size: 14px;
                                font-weight: 500;
                            }
                        }
                        .audiofile::before {
                            content: '';
                            position: absolute;
                            border: 9px solid;
                            border-color: transparent #ffffff transparent transparent;
                            left: -16px;
                            top: 12px;
                        }

                        .audiowrapper {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #ffffff;
                            border-radius: 6px;
                            // margin-top: -6px;
                            position: relative;
                            // margin-left: 4px;

                            audio::-webkit-media-controls-play-button,
                            audio::-webkit-media-controls-panel {
                                background-color: #ffffff;
                                color: #000;
                            }
                            audio {
                                height: 40px;
                            }
                        }
                        .audiowrapper::before {
                            content: '';
                            position: absolute;
                            border: 9px solid;
                            border-color: transparent #ffffff transparent transparent;
                            left: -16px;
                            top: 12px;
                        }

                    }

                    &.owner {
                        flex-direction: row-reverse;

                        .messageInfo {
                            margin-left: 0;
                        }

                        .messageContent {
                            align-items: flex-end;
                            p {
                                // background-color: #8da4f1;
                                background-color: #95EC69;
                                // color: white;
                                // border-radius: 10px 0px 10px 10px;
                            }
                            p::before {
                                display: none;
                            }
                            p::after {
                                content: '';
                                position: absolute;
                                border: 9px solid;
                                // border-color: transparent transparent transparent #8da4f1;
                                border-color: transparent transparent transparent #95EC69;
                                right: -16px;
                                top: 12px;
                            }

                            audio::-webkit-media-controls-play-button,
                            audio::-webkit-media-controls-panel {
                                background-color: #95EC69;
                                color: #000;
                            }
                            .audiofile {
                                background-color: #95EC69;
                            }
                            .audiofile::before {
                                display: none;
                            }
                            .audiofile::after {
                                content: '';
                                position: absolute;
                                border: 9px solid;
                                border-color: transparent transparent transparent #95EC69;
                                right: -16px;
                                top: 12px;
                            }

                            .audiowrapper {
                                background-color: #95EC69;

                                audio::-webkit-media-controls-play-button,
                                audio::-webkit-media-controls-panel {
                                    background-color: #95EC69;
                                    color: #000;
                                }
                            }
                            .audiowrapper::before {
                                display: none;
                            }
                            .audiowrapper::after {
                                content: '';
                                position: absolute;
                                border: 9px solid;
                                border-color: transparent transparent transparent #95EC69;
                                right: -16px;
                                top: 12px;
                            }
                        }
                    }
                }
            }

            .input {
                display: flex;
                flex-direction: column;
                height: 91px;
                // background-color: white;
                background-color: #F5F5F5;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2px;
                position: relative;

                .filesandemoji {
                    display: flex;
                    align-items: center;   
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 2px;
                    margin-top: -4px;

                    .icons {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        position: relative;

                        input {
                            display: none;
                        }
    
                        // img {
                        //     height: 22px;
                        //     cursor: pointer;
                        // }
    
                        // label {
                        //     position: relative;
                        //     .imgreddot {
                        //         position: absolute;
                        //         top: 2px;
                        //         left: 0.8px;
                        //         width: 4px;
                        //         height: 4px;
                        //         border-radius: 50%;
                        //         background-color: red;
                        //     }
                        // }

                        i {
                            color: #949494;
                            font-size: 18px;
                            // margin-bottom: 3px;
                            cursor: pointer;
                            &:hover {
                                color: #ababab;
                            }
                        }

                        .freddot {
                            position: absolute;
                            top: -4px;
                            left: 6px;
                            width: 12px;
                            height: 12px;
                            background-color: #FA5151;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .fileslength {
                                font-size: xx-small;
                                color: #FDFFFF;
                                margin-bottom: 1px;
                                &.long {
                                    font-size: small;
                                    margin-bottom: 6px;
                                }
                            }
                        }

                        #emojipicker {
                            position: absolute;
                            top: -415px;
                            left: 60px;
                            z-index: 3;
                        }

                        .uploadprogress {
                            margin-top: -5px;
                            i {
                                color: #dbc9bf;
                                font-size: 10px;
                                margin-right: 6px;
                                margin-left: 4px;
                                visibility: hidden;
                            }

                            span {
                                color: #dbc9bf;
                                font-size: 10px;
                                visibility: hidden;
                            }
                    
                            &.show {
                                i, span {
                                    visibility: visible;
                                }
                            }
                        }
                    }

                    .micandkeyboad {
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        border: 2px solid #9d9d9d;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        color: #9d9d9d;
                        font-size: 15px;
                        &:hover {
                            color: #757575;
                            border: 2px solid #757575;
                        }
                        .keyboard {
                            font-size: 14px;
                        }
                    }
                }

                .contentbutton {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;

                    textarea {
                        width: 88%;
                        height: 100%;
                        border: none;
                        resize: none;
                        outline: none;
                        color: black;
                        font-size: 16px;
                        background-color: #F5F5F5;
    
                        &::placeholder {
                            color: lightgray;
                        }
                    }

                    .AudioRecorder {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 12px;
                        padding-left: 40px;

                        button {
                            font-size: 20px;
                            border: none;
                            padding: 10px 15px;
                            color: #07C160;
                            background-color: #E9E9E9;
                            cursor: pointer;
                            border-radius: 5px;
                            margin-right: 10px;
                            &:hover {
                                background-color: #dadada
                            }
                        }

                        .stop {
                            color: rgb(228, 80, 80);
                        }

                        .audiowave {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 20px;
                            position: relative;
                            height: 62px;
                            width: 360px;
                            background-color: #95EC69;
                            border-radius: 6px;

                            &::before {
                                content: '';
                                position: absolute;
                                border: 12px solid;
                                border-color: transparent #95EC69 transparent transparent;
                                left: -22px;
                                top: 20px;
                            }
                            
                            span {
                                font-size: 16px;
                                color: #658C49;
                            }

                            .visualizer {
                                width: 50%;
                                height: 70%;
                                background-color: #95EC69;
                                display: none;
                                &.show {
                                    display: block;
                                }
                            }

                            .timer {
                                color: #3f5430;
                                font-size: 18px;
                                margin-bottom: 3px;
                            }

                            audio::-webkit-media-controls-play-button,
                            audio::-webkit-media-controls-panel {
                                background-color: #95EC69;
                                color: #000;
                            }

                            audio {
                                width: 96%;
                            }
                        }

                        .deleteicon {
                            color: #47553e;
                            font-size: 18px;
                            cursor: pointer;
                            visibility: hidden;
                            &.show {
                                visibility: visible;
                            }
                            &:hover {
                                color: #6f766b;
                            }
                        }
                    }

                    .sendbutton {
                        border: none;
                        padding: 10px 15px;
                        // color: white;
                        color: #07C160;
                        // background-color: #8da4f1;
                        background-color: #E9E9E9;
                        cursor: pointer;
                        border-radius: 5px;
                        margin-top: 25px;
                        // margin-right: 10px;
                        &:hover {
                            background-color: #dadada
                        }
                    }
                }
            }
        }
    }
}


.Moments {
    background-color: #1f1f47;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
    .Momentcontainer {
        border: 1px solid rgba(255, 255, 255, .18);
        border-radius: 4px;
        // width: 34%;
        width: 500px;
        height: 94%;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        position: relative;
    
        .Momentheader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            // color: #7B7B7B;
            // background-color: #EDEDED;
            background-color: transparent;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 4;
    
            p {
                font-size: 20px;
                font-weight: 500;
                color: transparent;
            }
    
            i {
                // color: #7B7B7B;
                color: #dddddd;
                font-weight: bolder;
                cursor: pointer;
                &:hover {
                    // color: #9d9d9d;
                    color: #494949;
                }
            }
            .return {
                font-size: 18px;
                margin-left: 14px;
            }
            .createmoment {
                font-size: 22px;
                margin-right: 22px;
            }
            
            &.showbar {
                height: 40px;
                background-color: #EDEDED;
                p {
                    color: #7B7B7B;
                }
                i {
                    color: #7B7B7B;
                    &:hover {
                        color: #9d9d9d;
                    }
                }
                .createmoment {
                    font-size: 20px;
                    margin-right: 14px;
                }
            }
        }
    
        .MomentInfo {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: auto;
            overflow-x: hidden;
            padding-right: 50px;
            background-color: #ffffff;

            &:hover {
                padding-right: 0px;
            }

            .personalbg {
                width: 100%;
                margin-bottom: 40px;
                position: relative;

                img {
                    max-height: 300px;
                    object-fit: cover;
                }

                .defaultbg {
                    width: calc(100% + 17px);
                    height: 300px;
                    display: flex;
                    gap: 4px;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: #f4f4f4;
                    margin-bottom: 5px;
                    i {
                        font-size: 20px;
                    }
                    span {
                        color: #c3c3c3;
                    }
                }

                .changecover {
                    position: absolute;
                    left: 2px;
                    bottom: -18px;
                    display: none;

                    input {
                        display: none;
                    }

                    label {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        cursor: pointer;
                        i {
                            color: #cfcfcf;
                            font-size: 20px;
                        }
                        span {
                            color: #cfcfcf;
                            font-size: 12px;
                            padding-bottom: 3px;
                        }
                    }
                }

                &:hover {
                    .changecover {
                        display: block;
                    }
                }

                img {
                    width: calc(100% + 17px);
                    object-fit: cover;
                }

                .userinfo {
                    display: flex;
                    gap: 14px;
                    position: absolute;
                    right: 16px;
                    bottom: -24px;

                    span {
                        font-size: 18px;
                        font-weight: bold;
                        padding-top: 52px;
                        color: #576B95;
                    }
                    img {
                        height: 80px;
                        width: 80px;
                        border-radius: 4%;
                        object-fit: cover;
                    }
                }
            }
    
            .momentCollection {
                // width: 85%;
                width: 426px;
                display: flex;
                gap: 12px;
                padding: 10px;
                margin-top: 10px;
                margin-bottom: 20px;
                border-bottom: 1px solid #F3F3F3;
                position: relative;

                .momentUser {
                    img {
                        height: 50px;
                        width: 50px;
                        border-radius: 8%;
                        object-fit: cover;
                    }
                }
        
                .momentContent {
                    margin-top: -16px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // width: calc(100% - 60px - 24px - 4px);
                    width: 344px;
            
                    .username {
                        color: #576B95;
                        font-size: 18px;
                        font-weight: bold;
                        padding-top: 16px;
                        margin-bottom: 10px;
                    }
            
                    .momentText {
                        font-size: 16px;
                        margin-bottom: 8px;
                        word-wrap: break-word;
                    }

                    .imgcollection {
                        // width: 100%;
                        width: 344px;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 4px;

                        &.fourimage {
                            max-width: 80%;
                        }

                        img {
                            height: 112px;
                            width: 112px;
                            cursor: pointer;
                            object-fit: cover;
                        }

                        &.singleimage {
                            img {
                                width: 70%;
                                height: auto;
                            }   
                        }
                    }

                    video {
                        width: 96%;
                        max-height: 400px;
                        border-radius: 3px;
                        border: 1px solid rgba(195, 195, 195, 0.18);
                    }

                    .audiobox {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        gap: 4px;
                        span {
                            font-size: 14px;
                        }
                    }

                    .timeandicons {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        position: relative;

                        .momentTime {
                            color: #9E9E9E;
                            font-weight: 300;
                            font-size: 14px;

                            i {
                                color: #8d8d8d;
                                font-size: 14px;
                                margin-left: 6px;
                                cursor: pointer;
                                &:hover {
                                    color: #adadad;
                                }
                            }
                        }

                        .icons {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #4C4C4C;
                            border-radius: 6px;
                            position: absolute;
                            right: 18px;
                            top: 3px;
                            visibility: hidden;

                            &.show {
                                visibility: visible;
                            }

                            .likeicon {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 6px;
                                font-size: 16px;
                                padding: 6px 12px;
                                background-color: #4C4C4C;
                                border-radius: 6px 0 0 6px;
                                color: #EAEAEA;
                                cursor: pointer;
                                &:hover {
                                    background-color: #3e3e3e;
                                }
                                i {
                                    margin-top: 1px;
                                }
                            }

                            .verticalline {
                                height: 24px;
                                width: 1px;
                                background-color: #454545;
                            }

                            .commenticon {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 6px;
                                font-size: 16px;
                                padding: 6px 12px;
                                background-color: #4C4C4C;
                                border-radius: 0 6px 6px 0;
                                color: #EAEAEA;
                                cursor: pointer;
                                &:hover {
                                    background-color: #3e3e3e;
                                }
                                i {
                                    margin-top: 4px;
                                }
                            }
                        }

                        .hideicon {
                            margin-right: -18px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 4px;
                            padding: 8px 10px;
                            border-radius: 4px;
                            background-color: #F7F7F7;
                            cursor: pointer;
                            &:hover {
                                background-color: #e4e4e4;
                            }
                            .smallcricle {
                                height: 4px;
                                width: 4px;
                                border-radius: 50%;
                                background-color: #576B95;
                            }
                        }
                    }

                    .likesandcomments {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 5px;
                        // width: 100%;
                        width: 344px;
                        padding: 8px 10px;
                        background-color: #F7F7F7;
                        border-radius: 6px;
                        position: relative;

                        .likeslist {
                            i {
                                font-size: 18px;
                                padding-right: 6px;
                                color: #576B95;
                            }
                            .useralias {
                                font-size: 16px;
                                word-break: break-all;
                                color: #576B95;
                                cursor: pointer;

                                &.self {
                                    cursor: auto;
                                }
                            }
                        }


                        .seperateline {
                            height: 1px;
                            width: 100%;
                            background-color: #EBEBEB;
                        }

                        .commentlist {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            gap: 4px;
                            .comment {
                                font-size: 15px;
                                .useralias {
                                    color: #576B95;
                                    cursor: pointer;

                                    &.self {
                                        cursor: auto;
                                    }
                                }
                            }
                        }

                        .commentinput {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            border: 1px solid #07C160;
                            background-color: #ffffff;
                            border-radius: 4px;
                            overflow: hidden;

                            // input {
                            //     width: 100%;
                            //     padding: 4px 8px;
                            //     padding-bottom: 50px;
                            //     font-size: 16px;
                            //     border: none;
                            //     outline: none;
                            //     background-color: #ffffff;
                            //     &::placeholder {
                            //         font-size: 14px;
                            //         color: #9E9E9E;
                            //     }
                            // }

                            textarea {
                                height: 34px;
                                padding: 4px 8px;
                                padding-bottom: 50px;
                                font-size: 16px;
                                border: none;
                                outline: none;
                                resize: none;
                                background-color: #ffffff;
                                &::placeholder {
                                    font-size: 14px;
                                    color: #9E9E9E;
                                }
                            }

                            .emojiandbutton {
                                width: 98%;
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                gap: 10px;
                                padding: 6px 0px;

                                i {
                                    color: #919191;
                                    font-size: 20px;
                                    cursor: pointer;
                                    &:hover {
                                        color: #adadad
                                    }
                                }
                                #emojipicker {
                                    position: absolute;
                                    z-index: 3;
                                    bottom: -400px;
                                    right: 108px;
                                }
                                button {
                                    color: #ffffff;
                                    font-size: 14px;
                                    background-color: #07C160;
                                    border: none;
                                    border-radius: 2px;
                                    padding: 6px 12px;
                                    cursor: pointer;
                                    &:hover {
                                        background-color: #20d276;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.Moments {
    .Momentcontainer.post {
        height: auto;
        width: 27%;
        overflow: visible;
        position: relative;

        #emojis {
            position: absolute;
            z-index: 3;
            top: 48px;
            left: -352.5px;
        }
    
        .Momentheader {
            height: 30px;
            width: auto;
            color: #7B7B7B;
            position: initial;
            // background-color: #EDEDED;
            background-color: #ffffff;
            p {
                color: #7B7B7B;
                margin-left: 9%;
            }
            i {
                color: #7B7B7B;
                &:hover {
                    color: #9d9d9d;
                }
            }

            button {
                color: #ffffff;
                font-size: 14px;
                font-weight: 500;
                background-color: #07C160;
                border: none;
                border-radius: 4px;
                padding: 5px 10px;
                cursor: pointer;
                &:hover {
                    background-color: #20d276;
                }
            }

            border-radius: 4px 4px 0px 0px;
            border-top: 1px solid rgba(255, 255, 255, .18);
            border-bottom: 1px solid rgba(222, 222, 222, 0.18);
            padding: 6px 12px;
        }
    
        textarea {
            border: none;
            outline: none;
            resize: none;
            padding: 10px;
            padding-bottom: 54px;
            font-size: 16px;
            &::placeholder {
                color: #D3D3D6;
            }
        }
    
        .emojiandupload {
            display: flex;
            align-items: center;
            background-color: #ffffff;
            padding: 6px 10px;
    
            #emojiicon {
                color: #919191;
                font-size: 20px;
                cursor: pointer;
                &:hover {
                    color: #adadad
                }
            }
    
            .uploadprogress {
                padding: 0px 10px;
                font-size: 10px;
                color: #dbc9bf;
                i {
                    margin-right: 6px;
                    visibility: hidden;
                }
                span {
                    visibility: hidden;
                }
        
                &.show {
                    i, span {
                        visibility: visible;
                    }
                }
            }
        }
      
        .addingarea {
            border-radius: 0px 0px 4px 4px;
            border-bottom: 1px solid rgba(255, 255, 255, .18);
            background-color: #ffffff;
            padding: 14px 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 4px;
            max-height: 500px;
    
            .previewvideo {
                position: relative;
                i {
                    position: absolute;
                    top: 5px;
                    right: 4px;
                    color: #9a9a9a;
                    cursor: pointer;
                    display: none;
                    &:hover {
                        color: #bbbbbb;
                    }
                }
    
                &:hover {
                    i {
                        display: block;
                    }
                }
    
                video {
                    width: 300px;
                    max-height: 500px;
                    border-radius: 3px;
                    border: 1px solid rgba(195, 195, 195, 0.18);
                }
            }
    
            .previewaudio {
                display: flex;
                align-items: center;
                gap: 10px;
                i {
                    color: #9a9a9a;
                    cursor: pointer;
                    &:hover {
                        color: #bbbbbb;
                    }
                }
            }
            
            .previewimg {
                position: relative;
                i {
                    position: absolute;
                    top: 5px;
                    right: 4px;
                    color: #9a9a9a;
                    cursor: pointer;
                    display: none;
                    &:hover {
                        color: #bbbbbb;
                    }
                }
    
                &:hover {
                    i {
                        display: block;
                    }
                }
    
                img {
                    height: 130px;
                    width: 130px;
                    object-fit: cover;
                    cursor: pointer;
                }
            }
    
            input {
                display: none;
            }
    
            label {
                .addwrapper {
                    position: relative;
                    i {
                        font-size: 30px;
                        color: #8f8f8f;
                        font-weight: lighter;
                        padding: 50px 52px;
                        background-color: #f4f4f4;
                        cursor: pointer;
                        margin-bottom: 5px;
                    }
                    .multiadd {
                        font-size: 24px;
                        color: #8f8f8f;
                        position: absolute;
                        right: 32px;
                        top: 51px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
